.container {
  display: block;
  width: 100%;
  padding: 15px;

  .profile {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 12pt;

    .picture-default {
      border: 3px solid #595959;
    }

    .pic, .picture-default {
      display: flex;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 100px;
      background: white;
      margin-bottom: 10px;
      font-size: 40pt;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .pic {
      box-shadow: 2px 2px 15px #d5d5d5;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .name {
      display: block;
      font-weight: bold;
    }

    .msisdn {
      display: block;
      color: rgb(148, 148, 148);
    }
  }

  .card {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #dedede;

    .logout, .list {

      span {
        color: #e74c3c !important;
      }
    }
  }
}