.container {
  display: block;
  width: 100%;
  padding: 15px;
  padding-top: 60px;
  background: #f8f8f8;
  min-height: 100vh;

  .profile {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 12pt;
    margin-top: 30px;
    margin-bottom: 30px;

    .picture-default {
      border: 3px solid #595959;
      background: white;
      overflow: hidden;
      border-radius: 100px;
    }

    .pic, .picture-default {
      display: flex;
      width: 150px;
      height: 150px;
      margin: auto;
      margin-bottom: 10px;
      font-size: 40pt;
      justify-content: center;
      align-items: center;
    }

    .pic {
      position: relative;

      img {
        height: 100%;
        width: 100%;
        border-radius: 100px;
        display: block;
        box-shadow: 2px 2px 15px #d5d5d5;
        background: white;
      }

      .edit {
        background: #2ecc71;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        color: white;
        font-size: 15pt;
        border-radius: 100px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        box-shadow: 2px 2px 15px #d5d5d5;
      }
    }
  }

  .card {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #dedede;

    .button {
      width: 100%;
      margin-top: 20px;
    }
  }
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}