.container {
  display: block;
  width: 100%;
  padding-top: 55px;
  background: #e6e6e6;
  min-height: 100vh;
  max-width: 480px;

  .scope {
    display: block;
    position: fixed;
    padding: 8px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    max-width: 480px;    
    background: #f8f8f8;
    top: 56px;
    height: 52px;
  }

  .list {
    margin-top: 60px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  align-items: center;

  div {
    display: block;
    width: 50px;
    height: 50px;
  }
}