.container {
  display: block;
  width: 100%;
  padding-top: 55px;
  background: #e6e6e6;
  min-height: 100vh;
  max-width: 480px;

  .info {
    background: white;
    width: 100%;
    padding: 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  align-items: center;

  div {
    display: block;
    width: 50px;
    height: 50px;
  }
}