@import '../../../assets/css/config.scss';

.container {
  display: block;
  width: 100%;
  padding-top: 55px;
  background: #f8f8f8;
  min-height: 100vh;
  max-width: 480px;

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: white;
    border-bottom: 1px solid #f8f8f8;
    cursor: pointer;

    &:active {
      background: #f7f7f7;
    }

    .left {
      font-weight: bold;

      .renew {
        margin-top: 10px;
      }
    }

    .right {
      text-align: right;

      .amount {
        font-size: 12pt;
        font-weight: 500;
      }
    }
  }

  .popup {
    display: block;
    position: absolute;
    top: 0;
    max-width: 480px;
    min-height: 100vh;
    background: white;
    width: 100%;
    z-index: 99;

    .error {
      text-align: center;
      font-size: 15pt;
      font-weight: 100;
      display: block;
      color: $secondary-color;
    }

    .close {
      font-size: 64pt;
      font-weight: 100;
      line-height: 0;
      text-align: right;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
    }

    iframe {
      width: 100%;
      min-height: 100vh;
      border: 0;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  align-items: center;

  div {
    display: block;
    width: 50px;
    height: 50px;
  }
}