<<<<<<< HEAD
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    position: relative;
    flex: 1;
    height: 100%;
  }
=======
.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    position: relative;
    flex: 1;
    height: 100%;
  }
>>>>>>> 4f5493570e5ec7c1d7a6ccdb968addf3a8445826
}