@import '../../../assets/css/config.scss';

.field {
  margin-bottom: 0;
}

.check {
  border-color: #777;
}

.checked {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.text {
  font-family: "Raleway", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #333333;
}