.container {
  display: block;
  position: relative; }
  .container .badge {
    display: flex;
    position: absolute;
    background: #ea0f00;
    color: white;
    padding: 5px;
    border-radius: 100px;
    top: 0;
    right: -15px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 2px solid #ffffff;
    font-size: 8pt;
    line-height: 0; }
