@import '../../assets/css/config.scss';

.container {
  padding: 10px;
  font-size: 11pt; 
  background: none;
  cursor: pointer;
  transition: .3s;
  filter: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b7b7b;
  margin: 0 3px;

  .icon {
    font-size: 12pt;
    display: block;
    margin-right: 5px;
  }


  @media only screen and(max-width: 445px) {
    padding: 10px 4px;
    font-size: 10pt;
    margin: 0;
  }

  &:active {
    opacity: .3;
    filter: brightness(100%);
    transition: 0s;
  }
}

.active {
  color: $primary-color !important;
  font-weight: bold;
}