.container {
  display: block;
  border-top: 1px solid#cccccc;

  .sub {
    display: block;
    border: 1px solid#cccccc;
    border-top: none;
    border-bottom: none;

    .title {
      padding: 10px;
      background: #f1f1f1;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid#cccccc;
      transition: .3s;

      &:active {
        opacity: .3;
        transition: .1s;
      }
    }

    .content {
      overflow: hidden;
      transition: .4s;
      border-bottom: 1px solid#cccccc;
      color: white;

      .wrapper {
        padding: 10px;
      }
    }

    .show {
      transform: scale(1);
      height: auto;
      padding: 20px;
      border-width: 1px;
      transition: .3s;
    }

    .hide {
      transform: scaleY(0);
      height: 0;
      padding: 0;
      border-width: 0;
      transition: all .3s;
    }
  }
}