@import '../../assets/css/config.scss';

.container {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  top: 0;
  margin: auto;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  background: white;
  // opacity: 0;
  z-index: 2;
  box-shadow: 0px 0px 12px #3c3c3c;

  .bar {
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    max-width: 480px;
    color: $secondary-color;
    font-size: 20pt;
    background: $bg-sec-color;
    color: $text-color;
    z-index: 2;

    .bar-wrapper {
      width: 100%;
      padding: 3px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .back {
        display: block;
        cursor: pointer;
        padding: 0 10px;
        color: white;
      }
  
      .title {
        color: white;
        font-size: 15pt;
        font-weight: 500;
        margin-left: 10px;
        min-width: 0;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 400px) {
          font-size: 12pt;
        }
        
        span {
          flex: 1;
          display: inline-block;
          width: 50px;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 15pt;
        }
      }
  
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
  
        .cart, .cart:visited {
          position: absolute;
          width: 60px;
          font-size: 20pt;
          top: 0;
          right: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $secondary-color;
      
          &:active {
            opacity: .3;
          }
        }
      }
    }
  }
  
  .content {
    width: 100%;
    padding: 10px;
    background: white;
    padding-top: 45px;
    min-height: 100vh;
  }
}

.appear {
  opacity: 1 !important;
  top: 0 !important;
  transition: .5s;
}

.hide {
  opacity: 0 !important;
  top: -100% !important;
  transition: .5s;
}

.animate-vertical {
  animation-name: verticalAnimation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: .2s;
}

.animate-horizontal {
  animation-name: horizontalAnimation;
  animation-timing-function: cubic-bezier(.23,.24,0,1);
  animation-fill-mode: forwards;
  animation-duration: .4s;
}

@keyframes verticalAnimation {
  0% {opacity: 0; top: 50px}
  100% {opacity: 1; top: 0} 
}

@keyframes horizontalAnimation {
  0% {margin-left: 100%}
  100% {margin-left: 0}
}