.container {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
  color: #e74c3c;
  background: none;
  border: solid #e74c3c 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
  filter: none; }
  .container:active {
    opacity: .3;
    filter: brightness(100%);
    transition: 0s; }
