@import '../../assets/css/config.scss';

.container {
  padding: 10px 20px;
  font-size: 11pt; 
  background: none;
  cursor: pointer;
  transition: .3s;
  filter: none;
  border: 1px solid $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  margin: 0 3px;
  border-radius: 5px;

  @media only screen and(max-width: 400px) {
    padding: 10px 13px;
  }

  @media only screen and (max-width: 380px) {
    width: 100%;
    flex: 1;
  }

  .icon {
    font-size: 12pt;
    display: block;
    margin-right: 5px;
  }

  &:active {
    opacity: .3;
    filter: brightness(100%);
    transition: 0s;
  }
}