.container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-weight: bold; }
  .container .line1, .container .line2 {
    height: 1px;
    background: #bebebe; }
  .container .line1 {
    width: 25px; }
  .container .line2 {
    flex: 1; }
  .container span {
    text-align: center;
    margin: 0 13px; }
