.container {
  display: block;
  position: relative;
  max-width: 480px;
  overflow: hidden;
  transition: .3s;
  
  .content {
    display: block;
    height: 100%;
    transition: .3s;
    width: 100%;

    &.fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      background: black;
      transition: .3s;

      .wrapper .item .info {
        color: white;
      }
    }

    .zoomin, .zoomout {
      color: white;
      position: absolute;
      top: 19px;
      right: 77px;
      display: block;
      font-weight: 100;
      line-height: 30px;
      font-size: 27pt;
      text-shadow: 0px 0px 20px #616161;
      cursor: pointer;

      &:active {
        transition: .1s;
        opacity: .5;
      }
    }

    .zoomin {
      right: 125px;
    }

    .close {
      font-size: 55pt;
      color: white;
      position: absolute;
      top: 10px;
      right: 15px;
      display: block;
      font-weight: 100;
      line-height: 34px;
      text-shadow: 0px 0px 20px #616161;

      &:active {
        transition: .1s;
        opacity: .5;
      }
    }
    
    .wrapper {
      display: flex;
      position: relative;
      height: 100%;
      align-items: center;

      .item {
        position: relative;
        top: 0;
        width: 100%;
        float: left;
        overflow: hidden;
        height: 100%;

        img {
          width: 100%;
          height: 85%;
          object-fit: contain;
          object-position: center;
        }

        .info {
          color: black;
          width: 100%;
          text-align: center;
        }
      } 
    }

    .left, .right {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      background: white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
      color: red;
      font-size: 20pt;
      border-radius: 50px;
      height: 30px;
      width: 30px;
      line-height: 0;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:active {
        transition: .1s;
        opacity: .5;
      }
    }

    .left {
      left: 30px;
    }

    .right {
      right: 0px;
    }

    .bullets {
      display: flex;
      justify-content: center;
      position: absolute;
      align-items: center;
      width: 100%;
      bottom: 20px;
      left: 0;

      .bullet {
        display: block;
        background: none;
        border: 1px solid red;
        border-radius: 100px;
        width: 12px;
        height: 12px;
        margin: 0 2px;
        cursor: pointer;

        &.active {
          background: red;
        }

        &:active {
          transition: .3s;
          opacity: .5;
          background: red;
        }
      }
    }
  }
}

.animate {
  transition: transform 0.3s ease-out;
}