@import '../../assets/css/config.scss';

.container {
  position: relative;
  color: $secondary-color;

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 20pt;
    width: 100%;
    cursor: default;
    height: 43px;

    img {
      height: 45px;
    }
  }

  .icon, .icon:visited {
    position: absolute;
    width: 40px;
    font-size: 16pt;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:active {
      opacity: .3;
    }
  }

  .lefticon, .lefticon:visited {
    position: absolute;
    width: 60px;
    font-size: 20pt;
    top: 10px;
    left: 0;
    height: 100%;
    display: flex;
    color: $secondary-color;
    cursor: pointer;

    .badge {
      margin-left: 10px;

      .country {
        font-size: 15pt;
        font-weight: 700;
        font-family: sans-serif;
      }

      &:active {
        opacity: .3;
      }
    }
  }

}