@import '../../assets/css/config.scss';

.container {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-height: 100vh;
  box-shadow: 0px 0px 12px #3c3c3c;

  .fly {
    position: fixed;
    top: 0;
    width: 100%;
    background: $bg-sec-color;
    max-width: $max-width;
    margin: auto;
    z-index: 1;
  }

  .content {
    width: 100%;
    background: $bg-sec-color;
    margin-bottom: 45px;
    min-height: calc(100vh - 45px);

    .relative {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      background: $bg-sec-color;
      z-index: 1;
    }

    .wrapper {
      flex: 1;
      padding: 10px;
    }
  }
}

.appear {
  opacity: 1 !important;
  top: 0 !important;
  transition: .5s;
}

.hide {
  opacity: 0 !important;
  top: -45px !important;
  transition: .5s;
}