@import '../../assets/css/config.scss';

.container {
  display: block;
  border: 1px solid #dcdcdc;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 500;

  .sender {
    padding: 10px;
    font-size: 15pt;
    font-weight: 500;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;

    .left {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .right {
      display: block;
      margin-left: 10px;
    }
  }

  .confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color: $secondary-color;

    .btn {
      width: auto;
    }
  }
}