$size: 37px;

.avatar {
  height: $size !important;
  width: $size !important;
  min-width: $size !important;
}

.image {
  height: $size !important;
  width: $size !important;
  min-width: $size !important;
}

.letter {
  height: $size;
  width: $size;
  line-height: $size !important;
}

