$size: 37px;

.avatar {
  height: $size !important;
  width: $size !important;
  min-width: $size !important;
}

.image {
  height: 100% !important;
  width: 100% !important;
  min-width: 37px !important;
  object-fit: cover;
}

.letter {
  height: $size;
  width: $size;
  line-height: $size !important;
}

