@import '../../../assets/css/config.scss';

.container {
  padding-top: 55px;
  display: block;
  min-height: 100vh;

  .wrapper{
    display: flex;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;    
    flex-direction: column;

    .features{
      display: flex;
      margin-top: 13px;
      justify-content: space-evenly;
    }
    .text{
      font-size: 20px;
      width: 50%;
    }

    .icon{
      display: inline;
      font-size: 20px;
      color: green;
    }

    .iconNotSupported{
      display: inline;
      font-size: 20px;
      color: $secondary-color;
    }
  }


}

.loading {
  display: block;
  margin: auto;
}