.container {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  word-wrap: break-word;
  
  .content {
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }
}

.empty {
  font-size: 15pt;
  opacity: .3;
  font-weight: 300;
  text-align: center;

  .icon {
    text-align: center;
    font-size: 30pt;
    margin-top: 30px;
  }

  .text {
    display: block;
  }
}