.container {
  display: flex;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  position: absolute;
  top: 0;

  .loading {
    display: block;
    margin: auto;
  }
}