@import '../../../assets/css/config.scss';

.container {
  display: block;
  padding-top: 50px;
  background: $bg-color;
  min-height: 100vh;
  
  iframe {
    border: none;
  }

  .abilities {
    display: block;

    .ability {
      display: block;
      margin-bottom: 50px;
      padding: 15px;
      border: 1px dashed #929292;
      border-radius: 11px;

      .up {
        display: flex;
        
        .left {
          display: block;
        }

        .right {
          display: block;
          margin-left: 20px;

          .name {
            font-size: 15pt;
          }
        }
      }

      .down {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;

      }

      iframe {
        border: none;
      }
    }
  }

  .overview {
    display: block;
    color: white;
    margin-bottom: 20px;

    .left {
      display: block;

      .image {
        display: block;
        width: 100%;
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .level {    
        text-align: center;
        width: 100%;
        display: block;
      }

      .slider {
        border-radius: 30px;
        background: #232323;
        margin: 0 5px;
        margin-top: 10px;
      }

      .status {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 8pt;

        .statwrap {
          display: flex;
          align-items: center;
          margin: 5px;
          width: 30%;

          img {
            width: 20px;
          }

          div {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .comment-section {
    width: 100%;
    margin-top: 50px;
    color: white;
    padding: 0 10px;
    padding-bottom: 50px;

    .title {
      font-size: 15pt;
      text-align: center;
    }
    
    .comment {
      display: flex;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;

      .left {
        display: block;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 100%;
        }
      }

      .right {
        margin-left: 20px;
        width: 80%;
        background: #757575;
        border-radius: 30px;
        padding: 20px;

        .name {
          font-weight: bold;
          margin-bottom: 5px;
        }

        img, video {
          margin: 5px 0;
        }
      }
    }
  }

  .write-comment {
    display: block;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    margin: auto;
    color: white;
    width: 100%;
    background: #6b6b6b;

    .wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 3px 10px;

      .attach {
        display: block;
        transition: .3s;
        font-size: 20pt;

        &:active {
          opacity: .3;
          transition: 0s;
        }
      }

      .box {
        width: 100%;
        background: white;
        border-radius: 15px;
        padding: 0px 6px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        padding-top: 5px;
        
        textarea {
          resize: none;
          height: 28px;
          background: none;
          border: none;
          width: 100%;
        }
      }

      .send {
        display: block;
        transition: .3s;
        font-size: 20pt;

        &:active {
          opacity: .3;
          transition: 0s;
        }
      }
    }
  }
}