@import '../../../assets/css/config.scss';

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: #fafafa;
  padding: 15px;

  .top {
    display: block;
    text-align: center;
    max-width: 250px;

    .title {
      text-align: center;
      font-weight: 700;
      font-size: 30pt;
      width: 100%;
      cursor: default;
      color: $secondary-color;
    }

    .desc {
      font-size: 12pt;
    }
  }

  .form {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #dedede;

    .handphone {
      display: flex;

      .telp {
        width: 100%;
        margin: 0 10px; 
      }
    }

    button {
      width: 100%;
      margin: 20px 0;
    }

    .ref {
      text-align: center;
      width: 100%;
      display: block;

      a, a:visited {
        color: $secondary-color;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  align-items: center;

  div {
    display: block;
    width: 50px;
    height: 50px;
  }
}